DATABASE_URL=postgresql://postgres:cupizz2020@localhost:5432/cupizz?schema=public
JWT_SECRET_KEY=hien
PORT=1998
REDIS_HOST=127.0.0.1
ONESIGNAL_APP_ID=3adf
ONESIGNAL_API_KEY=MjY
LOCATIONIQ_TOKEN=pk.
CLOUDINARY_URL=
GOOGLE_APPLICATION_CREDENTIALS=
AI_MATCHER_URL=